In [1]:
import pandas as pd

In [2]:
p1 = r"F:\\Intern\\dataset\\olist_customers_dataset.csv"
p2 = r"F:\\Intern\\dataset\\olist_order_items_dataset.csv"
p3 = r"F:\\Intern\\dataset\\olist_orders_dataset.csv"
p4 = r"F:\\Intern\\dataset\\olist_order_reviews_dataset.csv"
p5 = r"F:\\Intern\\dataset\\olist_products_dataset.csv"

In [3]:
custId = pd.read_csv(p1)
orderId = pd.read_csv(p3)
review = pd.read_csv(p4)
orderItems = pd.read_csv(p2)
pro_id = pd.read_csv(p5)

In [4]:
customer = custId[['customer_unique_id','customer_id']]
order = orderId[['customer_id','order_id']]
orderItem = orderItems[['order_id','product_id']]
product = pro_id[['product_id','product_category_name']]
reviews = review[['review_id','order_id','review_score']]

# Hashing customer Unique Id

In [5]:
len(customer)

99441

In [6]:
len(customer.customer_id.unique())

99441

In [7]:
len(customer.customer_unique_id.unique())

96096

In [8]:
customer

                     customer_unique_id                       customer_id
0      861eff4711a542e4b93843c6dd7febb0  06b8999e2fba1a1fbc88172c00ba8bc7
1      290c77bc529b7ac935b93aa66c333dc3  18955e83d337fd6b2def6b18a428ac77
2      060e732b5b29e8181a18229c7b0b2b5e  4e7b3e00288586ebd08712fdd0374a03
3      259dac757896d24d7702b9acbbff3f3c  b2b6027bc5c5109e529d4dc6358b12c3
4      345ecd01c38d18a9036ed96c73b8d066  4f2d8ab171c80ec8364f7c12e35b23ad
...                                 ...                               ...
99436  1a29b476fee25c95fbafc67c5ac95cf8  17ddf5dd5d51696bb3d7c6291687be6f
99437  d52a67c98be1cf6a5c84435bd38d095d  e7b71a9017aa05c9a7fd292d714858e8
99438  e9f50caf99f032f0bf3c55141f019d99  5e28dfe12db7fb50a4b2f691faecea5e
99439  73c2643a0a458b49f58cea58833b192e  56b18e2166679b8a959d72dd06da27f9
99440  84732c5050c01db9b23e19ba39899398  274fa6071e5e17fe303b9748641082c8

[99441 rows x 2 columns]

In [9]:
unique_cust_id_dict = {}
new_cust_uniq_id = []
num = 0

In [10]:
for i in customer.customer_unique_id:
    if i in unique_cust_id_dict:
        new_cust_uniq_id.append(unique_cust_id_dict[i])
    else:
        unique_cust_id_dict[i] = num
        new_cust_uniq_id.append(num)
        num += 1

In [11]:
customer['new_customer_unique_id'] = new_cust_uniq_id
customer

<ipython-input-11-62cfe8d95e84>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer['new_customer_unique_id'] = new_cust_uniq_id

,customer_unique_id,customer_id,new_customer_unique_id
0,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7,0
1,290c77bc529b7ac935b93aa66c333dc3,18955e83d337fd6b2def6b18a428ac77,1
2,060e732b5b29e8181a18229c7b0b2b5e,4e7b3e00288586ebd08712fdd0374a03,2
3,259dac757896d24d7702b9acbbff3f3c,b2b6027bc5c5109e529d4dc6358b12c3,3
4,345ecd01c38d18a9036ed96c73b8d066,4f2d8ab171c80ec8364f7c12e35b23ad,4
...,...,...,...
99436,1a29b476fee25c95fbafc67c5ac95cf8,17ddf5dd5d51696bb3d7c6291687be6f,96091
99437,d52a67c98be1cf6a5c84435bd38d095d,e7b71a9017aa05c9a7fd292d714858e8,96092
99438,e9f50caf99f032f0bf3c55141f019d99,5e28dfe12db7fb50a4b2f691faecea5e,96093
99439,73c2643a0a458b49f58cea58833b192e,56b18e2166679b8a959d72dd06da27f9,96094
99440,84732c5050c01db9b23e19ba39899398,274fa6071e5e17fe303b9748641082c8,96095

# Hashing order id

In [12]:
order

                            customer_id                          order_id
0      9ef432eb6251297304e76186b10a928d  e481f51cbdc54678b7cc49136f2d6af7
1      b0830fb4747a6c6d20dea0b8c802d7ef  53cdb2fc8bc7dce0b6741e2150273451
2      41ce2a54c0b03bf3443c3d931a367089  47770eb9100c2d0c44946d9cf07ec65d
3      f88197465ea7920adcdbec7375364d82  949d5b44dbf5de918fe9c16f97b45f8a
4      8ab97904e6daea8866dbdbc4fb7aad2c  ad21c59c0840e6cb83a9ceb5573f8159
...                                 ...                               ...
99436  39bd1228ee8140590ac3aca26f2dfe00  9c5dedf39a927c1b2549525ed64a053c
99437  1fca14ff2861355f6e5f14306ff977a7  63943bddc261676b46f01ca7ac2f7bd8
99438  1aa71eb042121263aafbe80c1b562c9c  83c1379a015df1e13d02aae0204711ab
99439  b331b74b18dc79bcdf6532d51e1637c1  11c177c8e97725db2631073c19f07b62
99440  edb027a75a1449115f6b43211ae02a24  66dea50a8b16d9b4dee7af250b4be1a5

[99441 rows x 2 columns]

In [13]:
len(order.customer_id.unique())

99441

In [14]:
len(order.order_id.unique())

99441

In [15]:
order_id_dict = {}
new_order_id = []
num = 0

In [16]:
for i in order.order_id:
    if i in order_id_dict:
        new_order_id.append(order_id_dict[i])
    else:
        order_id_dict[i] = num
        new_order_id.append(num)
        num += 1

In [17]:
order['new_order_id'] = new_order_id

<ipython-input-17-f0d441749b54>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  order['new_order_id'] = new_order_id

In [18]:
order

,customer_id,order_id,new_order_id
0,9ef432eb6251297304e76186b10a928d,e481f51cbdc54678b7cc49136f2d6af7,0
1,b0830fb4747a6c6d20dea0b8c802d7ef,53cdb2fc8bc7dce0b6741e2150273451,1
2,41ce2a54c0b03bf3443c3d931a367089,47770eb9100c2d0c44946d9cf07ec65d,2
3,f88197465ea7920adcdbec7375364d82,949d5b44dbf5de918fe9c16f97b45f8a,3
4,8ab97904e6daea8866dbdbc4fb7aad2c,ad21c59c0840e6cb83a9ceb5573f8159,4
...,...,...,...
99436,39bd1228ee8140590ac3aca26f2dfe00,9c5dedf39a927c1b2549525ed64a053c,99436
99437,1fca14ff2861355f6e5f14306ff977a7,63943bddc261676b46f01ca7ac2f7bd8,99437
99438,1aa71eb042121263aafbe80c1b562c9c,83c1379a015df1e13d02aae0204711ab,99438
99439,b331b74b18dc79bcdf6532d51e1637c1,11c177c8e97725db2631073c19f07b62,99439
99440,edb027a75a1449115f6b43211ae02a24,66dea50a8b16d9b4dee7af250b4be1a5,99440

# Hashing product id

In [19]:
product

                             product_id              product_category_name
0      1e9e8ef04dbcff4541ed26657ea517e5                         perfumaria
1      3aa071139cb16b67ca9e5dea641aaa2f                              artes
2      96bd76ec8810374ed1b65e291975717f                      esporte_lazer
3      cef67bcfe19066a932b7673e239eb23d                              bebes
4      9dc1a7de274444849c219cff195d0b71              utilidades_domesticas
...                                 ...                                ...
32946  a0b7d5a992ccda646f2d34e418fff5a0                   moveis_decoracao
32947  bf4538d88321d0fd4412a93c974510e6  construcao_ferramentas_iluminacao
32948  9a7c6041fa9592d9d9ef6cfe62a71f8c                    cama_mesa_banho
32949  83808703fc0706a22e264b9d75f04a2e             informatica_acessorios
32950  106392145fca363410d287a815be6de4                    cama_mesa_banho

[32951 rows x 2 columns]

In [20]:
len(product.product_id.unique())

32951

In [21]:
new_product_id = [i for i in range(32951)]

In [22]:
product['new_product_id'] = new_product_id
product

<ipython-input-22-ce1ec0d3a1d6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  product['new_product_id'] = new_product_id

,product_id,product_category_name,new_product_id
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,1
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,2
3,cef67bcfe19066a932b7673e239eb23d,bebes,3
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,4
...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,32946
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,32947
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,32948
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,32949
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,32950

In [23]:
main_table = customer.merge(order,how='inner',on='customer_id')
main_table

,customer_unique_id,customer_id,new_customer_unique_id,order_id,new_order_id
0,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7,0,00e7ee1b050b8499577073aeb2a297a1,88492
1,290c77bc529b7ac935b93aa66c333dc3,18955e83d337fd6b2def6b18a428ac77,1,29150127e6685892b6eab3eec79f59c7,90418
2,060e732b5b29e8181a18229c7b0b2b5e,4e7b3e00288586ebd08712fdd0374a03,2,b2059ed67ce144a36e2aa97d2c9e9ad2,22557
3,259dac757896d24d7702b9acbbff3f3c,b2b6027bc5c5109e529d4dc6358b12c3,3,951670f92359f4fe4a63112aa7306eba,32180
4,345ecd01c38d18a9036ed96c73b8d066,4f2d8ab171c80ec8364f7c12e35b23ad,4,6b7d50bd145f6fc7f33cebabd7e49d0f,69902
...,...,...,...,...,...
99436,1a29b476fee25c95fbafc67c5ac95cf8,17ddf5dd5d51696bb3d7c6291687be6f,96091,6760e20addcf0121e9d58f2f1ff14298,1822
99437,d52a67c98be1cf6a5c84435bd38d095d,e7b71a9017aa05c9a7fd292d714858e8,96092,9ec0c8947d973db4f4e8dcf1fbfa8f1b,16146
99438,e9f50caf99f032f0bf3c55141f019d99,5e28dfe12db7fb50a4b2f691faecea5e,96093,fed4434add09a6f332ea398efd656a5c,70778
99439,73c2643a0a458b49f58cea58833b192e,56b18e2166679b8a959d72dd06da27f9,96094,e31ec91cea1ecf97797787471f98a8c2,30836
99440,84732c5050c01db9b23e19ba39899398,274fa6071e5e17fe303b9748641082c8,96095,28db69209a75e59f20ccbb5c36a20b90,96137

In [24]:
main_table = main_table.merge(orderItem,how='inner',on='order_id')
main_table

,customer_unique_id,customer_id,new_customer_unique_id,order_id,new_order_id,product_id
0,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7,0,00e7ee1b050b8499577073aeb2a297a1,88492,a9516a079e37a9c9c36b9b78b10169e8
1,290c77bc529b7ac935b93aa66c333dc3,18955e83d337fd6b2def6b18a428ac77,1,29150127e6685892b6eab3eec79f59c7,90418,4aa6014eceb682077f9dc4bffebc05b0
2,060e732b5b29e8181a18229c7b0b2b5e,4e7b3e00288586ebd08712fdd0374a03,2,b2059ed67ce144a36e2aa97d2c9e9ad2,22557,bd07b66896d6f1494f5b86251848ced7
3,259dac757896d24d7702b9acbbff3f3c,b2b6027bc5c5109e529d4dc6358b12c3,3,951670f92359f4fe4a63112aa7306eba,32180,a5647c44af977b148e0a3a4751a09e2e
4,345ecd01c38d18a9036ed96c73b8d066,4f2d8ab171c80ec8364f7c12e35b23ad,4,6b7d50bd145f6fc7f33cebabd7e49d0f,69902,9391a573abe00141c56e38d84d7d5b3b
...,...,...,...,...,...,...
112645,1a29b476fee25c95fbafc67c5ac95cf8,17ddf5dd5d51696bb3d7c6291687be6f,96091,6760e20addcf0121e9d58f2f1ff14298,1822,ccb4503d9d43d245d3b295d0544f988b
112646,d52a67c98be1cf6a5c84435bd38d095d,e7b71a9017aa05c9a7fd292d714858e8,96092,9ec0c8947d973db4f4e8dcf1fbfa8f1b,16146,9ede6b0570a75a4b9de4f383329f99ee
112647,e9f50caf99f032f0bf3c55141f019d99,5e28dfe12db7fb50a4b2f691faecea5e,96093,fed4434add09a6f332ea398efd656a5c,70778,7a5d2e1e131a860ae7d18f6fffa9d689
112648,73c2643a0a458b49f58cea58833b192e,56b18e2166679b8a959d72dd06da27f9,96094,e31ec91cea1ecf97797787471f98a8c2,30836,f819f0c84a64f02d3a5606ca95edd272
112649,84732c5050c01db9b23e19ba39899398,274fa6071e5e17fe303b9748641082c8,96095,28db69209a75e59f20ccbb5c36a20b90,96137,017692475c1c954ff597feda05131d73

In [25]:
main_table = main_table.merge(product,how='inner',on='product_id')
main_table

,customer_unique_id,customer_id,new_customer_unique_id,order_id,new_order_id,product_id,product_category_name,new_product_id
0,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7,0,00e7ee1b050b8499577073aeb2a297a1,88492,a9516a079e37a9c9c36b9b78b10169e8,moveis_escritorio,32209
1,9eae34bbd3a474ec5d07949ca7de67c0,8912fc0c3bbf1e2fbf35819e21706718,6167,c1d2b34febe9cd269e378117d6681172,60047,a9516a079e37a9c9c36b9b78b10169e8,moveis_escritorio,32209
2,9eae34bbd3a474ec5d07949ca7de67c0,8912fc0c3bbf1e2fbf35819e21706718,6167,c1d2b34febe9cd269e378117d6681172,60047,a9516a079e37a9c9c36b9b78b10169e8,moveis_escritorio,32209
3,3c799d181c34d51f6d44bbbc563024db,f0ac8e5a239118859b1734e1087cbb1f,15932,b1a5d5365d330d10485e0203d54ab9e8,42931,a9516a079e37a9c9c36b9b78b10169e8,moveis_escritorio,32209
4,23397e992b09769faf5e66f9e171a241,6bc8d08963a135220ed6c6d098831f84,19695,2e604b3614664aa66867856dba7e61b7,32077,a9516a079e37a9c9c36b9b78b10169e8,moveis_escritorio,32209
...,...,...,...,...,...,...,...,...
112645,fb354969e06f2093c0083cbfbb91864e,f6c6d3e1e20969a5eed982163f959719,96063,b2f58affcc178fea2daaf834f1acff5e,85555,9682ad2500ae8b2609e6a88eb0cbc5bb,casa_conforto,4113
112646,5f2971f9805e3ccb030226e30c8e8390,da37711b17efd5f2539e8196ab215f04,96066,c8203bb57639618630affac9e8e923dd,27170,aea06073397f809424f946979354c9f0,pet_shop,15001
112647,c64ede6d0ae8901b1b6fb03528c1b7e6,184e0c2cfc746789643521df0e9ff904,96070,45b3000bcd10464ac178f32cd783fc83,62943,bbf975bffd2ae9ee52f513ae5c8a4b27,beleza_saude,25117
112648,046470763123d3d6364f89095b4e47ab,821a7275a08f32975caceff2e08ea262,96077,49645a8902c1ba980836b7bff991d69f,40379,f6e0a9ce8a6e91c3a0ca2d3005911d20,fashion_bolsas_e_acessorios,21545
112649,82d46759af0369aad49084bacf85a6c3,1ed0c832c2dd99570a59260e71768bdf,96084,51c6d2f460589fa7b65f2da51e860206,26310,c98bf47f7bea8f3aee82fa023786b8a1,eletronicos,2802

In [26]:
main_table = main_table.merge(reviews,how='inner',on='order_id')
main_table

,customer_unique_id,customer_id,new_customer_unique_id,order_id,new_order_id,product_id,product_category_name,new_product_id,review_id,review_score
0,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7,0,00e7ee1b050b8499577073aeb2a297a1,88492,a9516a079e37a9c9c36b9b78b10169e8,moveis_escritorio,32209,88b8b52d46df026a9d1ad2136a59b30b,4
1,9eae34bbd3a474ec5d07949ca7de67c0,8912fc0c3bbf1e2fbf35819e21706718,6167,c1d2b34febe9cd269e378117d6681172,60047,a9516a079e37a9c9c36b9b78b10169e8,moveis_escritorio,32209,7fc63200f12eebb5f387856afdd63db8,1
2,9eae34bbd3a474ec5d07949ca7de67c0,8912fc0c3bbf1e2fbf35819e21706718,6167,c1d2b34febe9cd269e378117d6681172,60047,a9516a079e37a9c9c36b9b78b10169e8,moveis_escritorio,32209,7fc63200f12eebb5f387856afdd63db8,1
3,3c799d181c34d51f6d44bbbc563024db,f0ac8e5a239118859b1734e1087cbb1f,15932,b1a5d5365d330d10485e0203d54ab9e8,42931,a9516a079e37a9c9c36b9b78b10169e8,moveis_escritorio,32209,251191809e37c1cffc16865947c18a4d,3
4,23397e992b09769faf5e66f9e171a241,6bc8d08963a135220ed6c6d098831f84,19695,2e604b3614664aa66867856dba7e61b7,32077,a9516a079e37a9c9c36b9b78b10169e8,moveis_escritorio,32209,f7123bac5b91a0e2e38d8b41fd1206f4,4
...,...,...,...,...,...,...,...,...,...,...
113317,fb354969e06f2093c0083cbfbb91864e,f6c6d3e1e20969a5eed982163f959719,96063,b2f58affcc178fea2daaf834f1acff5e,85555,9682ad2500ae8b2609e6a88eb0cbc5bb,casa_conforto,4113,17e0e42ddf0dd7ebceff457b7c1da303,3
113318,5f2971f9805e3ccb030226e30c8e8390,da37711b17efd5f2539e8196ab215f04,96066,c8203bb57639618630affac9e8e923dd,27170,aea06073397f809424f946979354c9f0,pet_shop,15001,f3642bae4843d919c4c53ec1ff8fe26d,4
113319,c64ede6d0ae8901b1b6fb03528c1b7e6,184e0c2cfc746789643521df0e9ff904,96070,45b3000bcd10464ac178f32cd783fc83,62943,bbf975bffd2ae9ee52f513ae5c8a4b27,beleza_saude,25117,6dfe34036fd1f79225daeaca9cf083c2,4
113320,046470763123d3d6364f89095b4e47ab,821a7275a08f32975caceff2e08ea262,96077,49645a8902c1ba980836b7bff991d69f,40379,f6e0a9ce8a6e91c3a0ca2d3005911d20,fashion_bolsas_e_acessorios,21545,260447daa5d738ced8f4e0bbee8a08a2,5
113321,82d46759af0369aad49084bacf85a6c3,1ed0c832c2dd99570a59260e71768bdf,96084,51c6d2f460589fa7b65f2da51e860206,26310,c98bf47f7bea8f3aee82fa023786b8a1,eletronicos,2802,603f2873842a6975a43c54d305397d69,1

In [27]:
main_table.to_csv(path_or_buf="F:\\Intern\\prediction_table" + ".csv",index=False)

In [28]:
main_table.drop(['customer_unique_id','customer_id','order_id','new_order_id','product_id','review_id'],axis=1,inplace=True)

In [29]:
main_table

,new_customer_unique_id,product_category_name,new_product_id,review_score
0,0,moveis_escritorio,32209,4
1,6167,moveis_escritorio,32209,1
2,6167,moveis_escritorio,32209,1
3,15932,moveis_escritorio,32209,3
4,19695,moveis_escritorio,32209,4
...,...,...,...,...
113317,96063,casa_conforto,4113,3
113318,96066,pet_shop,15001,4
113319,96070,beleza_saude,25117,4
113320,96077,fashion_bolsas_e_acessorios,21545,5
113321,96084,eletronicos,2802,1

In [30]:
main_table.to_csv(path_or_buf="F:\\Intern\\prediction_table2" + ".csv",index=False)

# Translating Names

In [31]:
p6 = r"F:\\Intern\\dataset\\product_category_name_translation.csv"

In [32]:
names = pd.read_csv(p6)

In [33]:
names

,product_category_name,product_category_name_english
0,beleza_saude,health_beauty
1,informatica_acessorios,computers_accessories
2,automotivo,auto
3,cama_mesa_banho,bed_bath_table
4,moveis_decoracao,furniture_decor
...,...,...
67,artes_e_artesanato,arts_and_craftmanship
68,fraldas_higiene,diapers_and_hygiene
69,fashion_roupa_infanto_juvenil,fashion_childrens_clothes
70,seguros_e_servicos,security_and_services
71,portateis_cozinha_e_preparadores_de_alimentos,kitchen_laptops and_food_preparators

In [34]:
main_table.dropna(inplace=True)

In [35]:
names_dict = {}
for ind in names.index:
    names_dict[names['product_category_name'][ind]] = names['product_category_name_english'][ind]

In [37]:
english_names = []
for each in main_table.product_category_name:
    if each in names_dict:
        english_names.append(names_dict[each])
    else:
        english_names.append(each)

In [38]:
main_table['english_name'] = english_names

In [39]:
main_table

,new_customer_unique_id,product_category_name,new_product_id,review_score,english_name
0,0,moveis_escritorio,32209,4,office_furniture
1,6167,moveis_escritorio,32209,1,office_furniture
2,6167,moveis_escritorio,32209,1,office_furniture
3,15932,moveis_escritorio,32209,3,office_furniture
4,19695,moveis_escritorio,32209,4,office_furniture
...,...,...,...,...,...
113317,96063,casa_conforto,4113,3,home_confort
113318,96066,pet_shop,15001,4,pet_shop
113319,96070,beleza_saude,25117,4,health_beauty
113320,96077,fashion_bolsas_e_acessorios,21545,5,fashion_bags_accessories
113321,96084,eletronicos,2802,1,electronics

In [43]:
main_table.drop(['product_category_name'],axis=1, inplace=True)

In [44]:
main_table.to_csv(path_or_buf="F:\\Intern\\prediction_table3" + ".csv",index=False)